.fa {
    width: 100%;
    margin-left: 250px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    max-width: max-content;
  }
    
  table {
    border: 2px solid skyblue;
    width: 900px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid lightskyblue;
    
   
  }
    
  td {
    text-align: center;
    margin-left: 10px;
  }

  .retab{
    width: 100%;
    margin-top:35%;
    margin-left: 250px;
    max-height: fit-content;
    justify-content: center;
    align-items: center;
  }