/* .app{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .app__signup{
    width: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .app__signup input{
    margin: 5px;
  }
  .com{
    margin-left:30%;
    height: 100px;
    padding: 10px;
    align-content: center;
    } */




  
