.card-p{ 
    width: 6rem;
    background-color:rgb(16, 16, 16);
    height: 18vh;
    padding: 5px;
    margin-left:30%;
    margin-top: 5%;  
    margin-bottom: 18px;
    position: absolute; 
    position: relative;    
 }

 .card-c{
  width: 6rem;
  background-color:rgb(16, 16, 16);
  height: 17.5vh;
  padding: 3px;
  margin-left:80%;
  margin-top: 5%;
  margin-bottom: 18px;
  position: relative; 
 }
 .card-e{
  width: 6rem;
  background-color:rgb(16, 16, 16);
  height: 18vh;
  padding: 5px;
  margin-left:30%;
  margin-top: 2%;
  margin-bottom: 18px;
  position: relative; 
 }

.card-m{
  width: 6rem;
  background-color:rgb(16, 16, 16);
  height: 17vh;
  padding: 1px;
  margin-left:80%;
  margin-top: 2%;
  margin-bottom: 18px;
  position: relative; 
}

.card-r{
  width: 6rem;
  background-color:rgb(16, 16, 16);
  height: 17vh;
  padding: 2px;
  margin-left:500%;
  margin-top: 1%;
  margin-bottom: 18px;
  position: relative; 
}

 .decor{
   text-decoration: none;
   height: 17vh;
   width:6rem;
 }

 .containers{
    height: 65px;
    width: 90px;
    padding:0px ;
 }

 span{
    margin-left: 18px;
 }

 .cert{
   text-align: center;
   margin-left: 100px;
 }

 .com{
   margin-left:30%;
   height: 100px;
   padding: 10px;
   align-content: center;
 }

 .come{
  margin-left:15%;
  margin-top: 50px;
  height: 100rem;
  width: 100rem;
  padding: 5px;
  position: absolute;
  
 }
